@import "../node_modules/bootstrap/scss/bootstrap";

$wordcolor:red;
$bgcolor:grey;
$position:center;
$fontsize:larger;


.code{
    text-align:$position;
    font-size:$fontsize;
    color:$wordcolor;
}
